In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [2]:
df_del = pd.read_csv('deliveries.csv')
df_mat = pd.read_csv('matches.csv')

In [3]:
print(df_del.info())
print(df_mat.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB
None

In [4]:
df = pd.merge(df_del, df_mat, on="match_id")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150460 entries, 0 to 150459
Data columns (total 38 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
 21  season            150460 non-null  int64
 22  city              148760 non-null  object
 23  date              150460 non-null  object
 24  team1             150460 non-null  object
 25  team2             150460 non-null  object
 26  toss_winner       150460 non-null  object
 27  toss_decision     150460 non-null  object
 28  result            150460 non-null  object
 29  dl_applied        150460 non-null  int64
 30  winner            150139 non-null  object
 31  win_by_runs       150460 non-null  int64
 32  win_by_wickets    150460 non-null  int64
 33  player_of_match   150139 non-null  object
 34  venue             150460 non-null  object
 35  umpire1           150212 non-null  object
 36  umpire2           150212 non-null  object
 37  umpire3           0 non-null       float64
dtypes: float64(1), int64(17), object(20)
memory usage: 44.8+ MB

In [5]:
df['batting_team'].value_counts()

Mumbai Indians                 18943
Royal Challengers Bangalore    17678
Kings XI Punjab                17594
Kolkata Knight Riders          17229
Delhi Daredevils               17185
Chennai Super Kings            15754
Rajasthan Royals               13914
Sunrisers Hyderabad             9058
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [6]:
df.sort_values(by=['match_id', 'inning', 'over', 'ball'])

## now we will remove another match between non continous team line pune gujrat and etc...
teams_for_now = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
        'Mumbai Indians','Kolkata Knight Riders', 'Kings XI Punjab',
        'Delhi Daredevils','Chennai Super Kings', 'Rajasthan Royals']

df = df[(df['batting_team'].isin(teams_for_now)) & (df['bowling_team'].isin(teams_for_now)) &
       (df['team1'].isin(teams_for_now)) & (df['team2'].isin(teams_for_now))]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106567 entries, 0 to 150459
Data columns (total 38 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          106567 non-null  int64
 1   inning            106567 non-null  int64
 2   batting_team      106567 non-null  object
 3   bowling_team      106567 non-null  object
 4   over              106567 non-null  int64
 5   ball              106567 non-null  int64
 6   batsman           106567 non-null  object
 7   non_striker       106567 non-null  object
 8   bowler            106567 non-null  object
 9   is_super_over     106567 non-null  int64
 10  wide_runs         106567 non-null  int64
 11  bye_runs          106567 non-null  int64
 12  legbye_runs       106567 non-null  int64
 13  noball_runs       106567 non-null  int64
 14  penalty_runs      106567 non-null  int64
 15  batsman_runs      106567 non-null  int64
 16  extra_runs        106567 non-null  int64
 17  total_runs        106567 non-null  int64
 18  player_dismissed  5246 non-null    object
 19  dismissal_kind    5246 non-null    object
 20  fielder           3787 non-null    object
 21  season            106567 non-null  int64
 22  city              104867 non-null  object
 23  date              106567 non-null  object
 24  team1             106567 non-null  object
 25  team2             106567 non-null  object
 26  toss_winner       106567 non-null  object
 27  toss_decision     106567 non-null  object
 28  result            106567 non-null  object
 29  dl_applied        106567 non-null  int64
 30  winner            106309 non-null  object
 31  win_by_runs       106567 non-null  int64
 32  win_by_wickets    106567 non-null  int64
 33  player_of_match   106309 non-null  object
 34  venue             106567 non-null  object
 35  umpire1           106319 non-null  object
 36  umpire2           106319 non-null  object
 37  umpire3           0 non-null       float64
dtypes: float64(1), int64(17), object(20)
memory usage: 31.7+ MB

In [7]:
df = df.drop(df[df['winner'].isnull()].index,axis = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106309 entries, 0 to 150459
Data columns (total 38 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          106309 non-null  int64
 1   inning            106309 non-null  int64
 2   batting_team      106309 non-null  object
 3   bowling_team      106309 non-null  object
 4   over              106309 non-null  int64
 5   ball              106309 non-null  int64
 6   batsman           106309 non-null  object
 7   non_striker       106309 non-null  object
 8   bowler            106309 non-null  object
 9   is_super_over     106309 non-null  int64
 10  wide_runs         106309 non-null  int64
 11  bye_runs          106309 non-null  int64
 12  legbye_runs       106309 non-null  int64
 13  noball_runs       106309 non-null  int64
 14  penalty_runs      106309 non-null  int64
 15  batsman_runs      106309 non-null  int64
 16  extra_runs        106309 non-null  int64
 17  total_runs        106309 non-null  int64
 18  player_dismissed  5234 non-null    object
 19  dismissal_kind    5234 non-null    object
 20  fielder           3776 non-null    object
 21  season            106309 non-null  int64
 22  city              104609 non-null  object
 23  date              106309 non-null  object
 24  team1             106309 non-null  object
 25  team2             106309 non-null  object
 26  toss_winner       106309 non-null  object
 27  toss_decision     106309 non-null  object
 28  result            106309 non-null  object
 29  dl_applied        106309 non-null  int64
 30  winner            106309 non-null  object
 31  win_by_runs       106309 non-null  int64
 32  win_by_wickets    106309 non-null  int64
 33  player_of_match   106309 non-null  object
 34  venue             106309 non-null  object
 35  umpire1           106061 non-null  object
 36  umpire2           106061 non-null  object
 37  umpire3           0 non-null       float64
dtypes: float64(1), int64(17), object(20)
memory usage: 31.6+ MB

In [8]:
df.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    101075
dismissal_kind      101075
fielder             102533
season                   0
city                  1700
date                     0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
result                   0
dl_applied               0
winner                   0
win_by_runs              0
win_by_wickets           0
player_of_match          0
venue                    0
umpire1                248
umpire2                248
umpire3             106309
dtype: int64

In [9]:
df = df.drop(['match_id', 'over', 'ball', 'wide_runs', 'batsman', 'non_striker', 'bowler',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'city','date', 'team1', 'team2', 'result',
        'win_by_runs', 'win_by_wickets', 'player_of_match',
        'dl_applied', 'umpire1', 'umpire2', 'umpire3', 'season'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106309 entries, 0 to 150459
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   inning         106309 non-null  int64
 1   batting_team   106309 non-null  object
 2   bowling_team   106309 non-null  object
 3   is_super_over  106309 non-null  int64
 4   toss_winner    106309 non-null  object
 5   toss_decision  106309 non-null  object
 6   winner         106309 non-null  object
 7   venue          106309 non-null  object
dtypes: int64(2), object(6)
memory usage: 7.3+ MB

In [10]:
encoder = LabelEncoder()
ftr_list = ['batting_team', 'bowling_team', 'toss_winner', 'toss_decision', 'winner', 'venue']

for ftr in ftr_list:
    df[ftr] = encoder.fit_transform(df[ftr])

In [11]:
labels = df['winner']
features = df.drop(['winner'],axis = 1)

In [12]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.20, random_state = 42)

In [13]:
clf=RandomForestClassifier(n_estimators=100)
clf.fit(train_features, train_labels);

pred_test = clf.predict(test_features)
print(accuracy_score(pred_test,test_labels))

0.8684507572194525